.features {
  @include desktop() {
    padding-bottom: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile() {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  }
  &__item {
    margin-bottom: 15px;
    width: 100%;

    align-items: center;

    @include mobile() {
      margin: 0;
      width: 450px;
    }

    @include tablet() {
      width: 354px;
    }

    @include desktop() {
      width: 270px;
      justify-content: center;
    }
  }
  &__wrap {
    @include centered();
    max-width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--features-icon-backround);
  }
  &__title {
    margin-bottom: 10px;
    text-align: center;

    @include font(14px, 700, 1.14, null);
    text-transform: uppercase;

    @include tablet() {
      text-align: start;
    }
  }
  &__text {
    @include font(14px, null, 1.71, null);
  }
}
