.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
  &__container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 60px;
    @include tablet {
      gap: 0px;
      justify-content: space-around;
      align-items: baseline;
    }
    @include desktop {
      flex-wrap: nowrap;
      text-align: left;
      justify-content: space-between;
    }
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.logo__studio--light {
  color: var(--footer-logo-studio);
}
.contact-information {
  width: 100%;
  @include tablet {
    width: 50%;
    margin-bottom: 60px;
  }
  @include desktop {
    margin-bottom: 0;
    width: max-content;
  }
}
// footer section join-us
.join-us {
  width: 100%;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: max-content;
  }
}
.join-us-title {
  @include font(14px, 700, 1.14, null);
  text-transform: uppercase;

  color: #ffffff;
}
.footer__join-us-title {
  margin-bottom: 20px;
}

// social-links
.social-list__link--background {
  background-color: var(--footer-icon-background);
}
.social-list__icon--color {
  fill: var(--footer-icon-color);
}
// end

.subscribe {
  width: 100%;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: max-content;
  }
  // display: flex;
  // flex-wrap: wrap;
}
.subscribe-title {
  @include font(14px, 700, 1.14, null);
  text-transform: uppercase;

  color: #ffffff;
}
.footer_subscribe-title {
  margin-bottom: 20px;
}

.subscribe-form {
  @include desktop {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    margin-bottom: 20px;
    @media screen and (min-with: 480px) {
      width: 450px;
    }
    @include desktop {
      width: 358px;
    }

    color: #ffffff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;

    transition-property: border-color;
    transition-duration: var(--time-duration);
    transition-timing-function: var(--time-function);
    &::placeholder {
      @include font(16px, null, 1.25, 0.03em);

      color: rgba(255, 255, 255, 0.6);
    }
    &:focus {
      border-color: var(--accent-color);
    }
  }
  &__label {
    @media screen and (max-width: 1199px) {
      display: none;
    }
    @include desktop {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      .subscribe-form__input:not(:placeholder-shown) + & {
        transform: translate(-150%, -50%);
        color: var(--accent-color);
      }
      @include font(16px, null, 1.25, 0.03em);

      color: transparent;
      transition-property: transform, color;
      transition-duration: var(--time-duration);
      transition-timing-function: var(--time-function);
    }
  }
}

.subscribe__btn {
  @include centered();
}
.btn__icon {
  margin-left: 10px;
  fill: #ffffff;
}
