.header {
  border-bottom: 1px solid #ececec;

  &-container {
    @include centered(flex, center, null);
  }
}

.navigation {
  @include centered(flex, center, null);
}
.header__logo {
  padding: 16px 0;
  @include tablet {
    padding: 26px 0;
  }
  @include desktop {
    padding: 24px 0 25px;
  }
}
// links

.header__link-list {
  margin-left: 87px;
}

// contacts

.header__contacts {
  margin-left: auto;
}
