.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-function);
}
