.link-list {
  display: flex;
  &__item {
    position: relative;
  }
  & .link-list__item + .link-list__item {
    margin-left: 50px;
  }
  &__link {
    @include centered(flex, center, null);
    padding-top: 31px;
    padding-bottom: 31px;

    @include font(14px, 500, 1.14, 0.02em);

    color: var(--primary-title-color);

    transition-property: color;
    transition-duration: var(--time-duration);
    transition-timing-function: var(--time-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .current {
    color: var(--accent-color);
  }
}
