.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 1.19, null);
  color: var(--accent-color);

  text-decoration: none;
  &__studio {
    color: var(--header-logo-studio);
  }
}
