.main__title {
  @include font(26px, 900, 1.62, 0.06em);

  @include desktop {
    @include font(44px, 900, 1.36, 0.06em);
  }

  text-transform: uppercase;
  text-align: center;
  color: var(--hero-title-color);
}
