.menu-list {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    position: relative;

    @include font(40px, 500, 1.175, 0.02em);

    color: var(--primary-title-color);

    transition-property: color;
    transition-duration: var(--time-duration);
    transition-timing-function: var(--time-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
